.left-panel {
  background-color: #f4f6f9 !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  padding-top: 50px;
  position: fixed;
  overflow-y: scroll;
  padding-left: 15px;
}

.title {
  color: #959da8;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sub-title {
  color: #54585e;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}

.sub-section-title {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &:hover {
    color: #ffffff;
  }
  &.active {
    color: white;
  }
}

.material-icons {
  font-family: "Material Icons" !important;
  font-size: 20px;
  margin: 2px 0px 0px 4px;
}

.options {
  padding-left: 50px;
  padding-top: 10px;
  //   padding-left: 10px;
  padding-bottom: 5px;
  color: rgba(255, 255, 255, 0.8);
  &.active {
    border-left: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    // background-color: #1f84e9;
    color: white;
  }
}

.sub-title {
  padding: 2px;
}

.titleh2 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #183055;
  font-size: 20px;
  line-height: 54px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-bottom: 24px solid #183055;
}

.list {
  color: #565656;
  margin-bottom: 7px;
  margin-left: 19px;
}

.list-container {
  margin-top: 7px;
}

.right-side-title {
  font-size: 30px;

  color: #183055;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 10px;
}

.text {
  color: #565656;
}

.text-wrapper {
  color: #565656;
  padding: 10px;
}

.domain {
  top: 70px;
}

/*
   *  STYLE 1
   */

#style-1::-webkit-scrollbar-track {
  border-radius: 3.73px;
  height: 30px;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 3.73px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}

.title-info {
  font-size: 40px;
  font-weight: 450;
}
