<div class="mainheader" [ngClass]="{'shadow':scrollPosition>0 || index==4}">
    <div class="logo">
        EfficientLearner AI
    </div>
    <div class="header">
        <a [ngClass]="{'active': stateService.menuIndex.value ==1 &&  scrollPosition>=0&& scrollPosition<400}"
            (click)="navigateToHome()">Home</a>
        <a [ngClass]="{'active':stateService.menuIndex.value ==2}">Product</a>
        <a [ngClass]="{'active':stateService.menuIndex.value ==3}" (click)="navigateToPlatform()">Platform</a>

        <a [ngClass]="{'active':stateService.menuIndex.value ==4}" (click)="navigateToAPIs()">APIs</a>
        <a [ngClass]=" {'active': stateService.menuIndex.value==5|| scrollPosition>800&& scrollPosition<1500}"
            (click)="navigateToAbout()">About</a>


    </div>
</div>