<div class="mainheader" [ngClass]="{'shadow':scrollPosition>0 || index==4}">
    <div class="logo">
        CuriousLearner AI
    </div>
    <div class="header">

        <a [ngClass]="{'active': index ==1 }" class="pointer" (click)="navigateToHome()">Home</a>
        <a [ngClass]="{'active':stateService.menuIndex.value ==2}" class="pointer">Product</a>
        <a [ngClass]="{'active':stateService.menuIndex.value ==3}" class="pointer"
            (click)="navigateToPlatform()">Platform</a>


        <div class="dropdown">
            <a [ngClass]="{'active':index ==4}" class="pointer"
                (click)="navigateToAPIs()">APIs</a>
            <div class="dropdown-content">
                <a routerLink="'/domain'">Customer Support</a>
                <a  routerLink="'/domain'">
                    Healthcare</a>
                <a  routerLink="'/domain'">Education</a>
                <a  routerLink="'/domain'">Media</a>
                <a  routerLink="'/domain'"x>Miscellaneous</a>
            </div>
        </div>
        <a [ngClass]=" {'active': stateService.menuIndex.value==5}" class="pointer"
            (click)="navigateToAbout()">About</a>


    </div>
</div>