<div style="text-align: center;font-size: 36px;margin:40px;">API Integrations</div>
<!-- 
<div class="section section-full-m home-app-integrations">
    <div class="row">

        <div class="section-intro-wrapper">
            <div class="section-intro-content w-clearfix">

                <p class="body-copy copy-width cta-copy">Integrate the custom 3rd Party API</p>
                <br>
            </div>
        </div>

        <div class="col col-8"></div>
        <div class="app-int-card-wrapper">
            <div class="col col-3 col-3-m col-3-m-card">
                <div class="col-card desktop-only move-upward-text w-clearfix">
                    <div class="col-card-image-offset"><a href="/lp/torch-workflows-for-web-ar" target="_blank"
                            class="link-block-3 w-inline-block"><img src="../../../assets/images/zendesk.png"
                                alt="Sketchfab logo" width="2" srcset="../../../assets/images/zendesk.png"
                                class="ai-poly"></a>
                    </div>
                    <p class="body-copy text-center-aligned body-copy-bold app-int-copy">ZenDesk</p>
                    <p class="body-copy-small text-center-aligned">Share AR anywhere with no downloads. Torch + Web AR,
                        &nbsp;Powered by 8th Wall</p>
                </div>

            </div>
            <div class="col col-3 col-3-m col-3-m-card">
                <div class="col-card col-card-offset desktop-only move-upward-text w-clearfix">
                    <div class="col-card-image-offset"><a href="https://poly.google.com" target="_blank"
                            class="link-block-2 w-inline-block"><img src="../../../assets/images/docker.png"
                                alt="Sketchfab logo" width="97"
                                sizes="(max-width: 991px) 100vw, (max-width: 4752px) 25vw, 1188px" class="ai-poly"></a>
                    </div>
                    <p class="body-copy text-center-aligned body-copy-bold app-int-copy">Docker</p>
                    <p class="body-copy-small text-center-aligned app-int">DUmmy Text <br>Dummy text <br>Dummy text</p>
                </div>

            </div>

            <div class="col col-3 col-3-m col-3-m-card">
                <div class="col-card col-card-offset desktop-only move-upward-text w-clearfix">
                    <div class="col-card-image-offset"><img src="../../../assets/images/googlecloud.png"
                            alt="Sketchfab logo" class="ai-poly">
                    </div>
                    <p class="body-copy text-center-aligned body-copy-bold app-int-copy">Cloud Services</p>

                </div>

            </div>
        </div>
    </div>
</div> -->

<div style="display: flex;justify-content: space-evenly;">
    <div class="integration-tile">
        <img src="../../../assets/images/zendesk.png" alt="Sketchfab logo" width="100">
        <div class="title">Zendesk</div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        </p>
    </div>
    <div class="integration-tile">
        <img src="../../../assets/images/docker.png" width="90">
        <div class="title">Docker</div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        </p>
    </div>
    <div class="integration-tile">
        <img src="../../../assets/images/googlecloud.png" width="90">
        <div class="title">Google Cloud</div>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.

        </p>
    </div>
</div>

<br>
<br>