.section {
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 4vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
    background-image: linear-gradient(180deg, transparent, transparent);
}

.section-intro-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.section-intro-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.body-copy.copy-width {
    width: 510px;
}

.body-copy {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: none;
    clear: none;
    font-family: Euclid-Circular-B, Arial, sans-serif;
    color: #2f2f2f;
    font-size: 18.5px;
    line-height: 1.65;
    font-weight: 400;
}


.app-int-card-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    min-height: 250px;
    margin:7px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
}


.col-card.desktop-only.move-upward-text {
    width: 100%;
    padding-right: 2vw;
    padding-left: 2vw;
}

.col-card {
    position: relative;
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-bottom: 2.5em;
    padding-left: 30px;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 17px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
    background-image: linear-gradient(180deg, #fff, #fff);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

.row{
    display: flex;
    flex-direction: column;
    margin-left:34px;
}


.col.col-3.col-3-m.col-3-m-card {
    padding-right: 12px;
    padding-left: 12px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

.ai-poly {
    position: static;
    width: 100%;
    width:13em;
    margin-top: -55px;
    -webkit-transition: all 250ms cubic-bezier(.455, .03, .515, .955);
    transition: all 250ms cubic-bezier(.455, .03, .515, .955);
}


h2{
    font-size: 49px;
      line-height: 1.2;
      letter-spacing: -0.9px;
      font-weight: 200;
  }
  