<h2 style="text-align: center;">About</h2>

<div class="card-grouping">

    <div class="card">
        <img src="https://img.icons8.com/carbon-copy/100/000000/settings-3.png" class="card-image">
        <span>Automate Workflow</span>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,

        </p>
    </div>
    <div class="card">
        <img src="https://img.icons8.com/wired/64/000000/learning.png" class="card-image" />
        <span>Machine Learning</span>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,

        </p>
    </div>
    <div class="card">

        <img src="https://img.icons8.com/ios/50/000000/big-data.png" class="card-image" />
        <span>Dashboard Analysis</span>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,

        </p>
    </div>
    <div class="card">
        <img src="https://img.icons8.com/nolan/64/api-settings.png" class="card-image" />
        <span>API Access</span>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s,

        </p>
    </div>
</div>