<div class="about-wrapper">


    <div class="row">
        <div class="col-md-6">
            <img width="500px" src="../../../assets/images/bg/mockup-screen.png">
        </div>
        <div class="col-md-6">
            <div class="title-text">
                Here is the State of Play

            </div>

            <p>Most big players either solve these problems with a big internal team of ML researcher, Platform
                engineers, full stack developer and business analysts or outsource to some technology company with
                similar team size.
                <br>
                <br>

                Usually it take couple to months to deploy only a POC grade solution which is not scalable by design for
                production. That takes another couple of months.
                <br>
                <br>

                Average cost for a POC grade solution is in the range of $100k to $200k for 8-12 weeks engagement. Also
                considerable amount of time in invested in collecting data and tagging it

                <br>
                <br>

                Usually no deep expertise in NLP/NLU/Speech in these solutions since it requires years of similar
                problem solving or deep research oriented teams. Hence the solution is often discarded or the production
                pipeline drastically changes.
                <br>
                <br>


                Machine learning models keep advancing and given the nature of solution,solutions provided by a service
                focussed player fails to upgrage or perform good over time. Also there is a huge investment involved in
                support or any enhancement engagement

                <br>
                <br>
            </p>
        </div>
    </div>
</div>