@import "../../../assets/css/mini.min.css";

.about-wrapper {
  margin-top: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.title-text {
  font-family: "Poppins" sans-serif !important;
  font-weight: 400;
  font-size: 30px;
}

p {
  line-height: 2em;
  color: gray;
}
