<div class="row section">
    <div class="col-md-4 titleh2" style="display:flex;flex-direction: column;">
        <span class="material-icons" style="font-size:45px;">
            g_translate
        </span>
        Pick the NLU task
        <div class="titleunderline">

        </div>
    </div>
    <div class="col-md-8">
        <figure>
            <img class="img" style="width:661px" src="../../../assets/images/screenshot4.png">
        </figure>
    </div>
</div>

<div class="row section">

    <div class="col-md-8">
        <figure>
            <img class="img" style="width:661px" src="../../../assets/images/screenshot4.png">
        </figure>
    </div>
    <div class="col-md-4 titleh2" style="display:flex;flex-direction: column;">
        <span class="material-icons" style="font-size:40px">
            bar_chart
        </span>
        Upload Dataset

        <div class="titleunderline">

        </div>
    </div>

</div>

<div class="row section">
    <div class="col-md-4 titleh2" style="display:flex;flex-direction: column;">
        <span class="material-icons" style="font-size:40px;">
            memory
        </span>
        Train Model
        <div class="titleunderline">

        </div>
    </div>
    <div class="col-md-8">
        <figure>
            <img class="img" style="width:661px" src="../../../assets/images/screenshot4.png">
        </figure>
    </div>
</div>

<div class="row section">
    <div class="col-md-8">
        <figure>
            <img class="img" style="width:661px" src="../../../assets/images/screenshot4.png">
        </figure>
    </div>
    <div class="col-md-4 titleh2" style="display:flex;flex-direction: column;">
        <span class="material-icons" style="font-size:40px;">
            backup
        </span>
        Trigger the pipeline
        <div class="titleunderline">

        </div>
    </div>

</div>


<div class="row section">
    <div class="col-md-4 titleh2" style="display:flex;flex-direction: column;">
        <span class="material-icons" style="font-size:40px">
            code
        </span>
        Consume the REST API
        <div class="titleunderline">

        </div>
    </div>
    <div class="col-md-8">
        <figure>
            <img class="img" style="width:661px" src="../../../assets/images/screenshot4.png">
        </figure>
    </div>
</div>