<footer class="bg-set">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-4 footer-logo">
                <h1 class="titleh2" style="color:white">
                    wordsense.AI
                </h1>
                <p class="content-wrapper">Blitz is a B2B company building enterprise<br>
                    products in Voice <br>
                    and Natural Language Understanding Domain.<br>

            </div>
            <div class="col-md-8">
                <ul class="d-flex footer-menu">
                    <li>
                        <ul>
                            <li>STATS</li>
                            <li><a href="/landing-page#our-technology" title="Algorithms">Algorithms</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>OTHER</li>
                            <li><a href="/team#about-us" title="About us">About us</a></li>
                            <li><a href="/blog" title="Blog">Blog</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>COMPANY</li>
                            <li><a href="/team" title="Team">Team</a></li>
                            <li><a href="/team#about-us" title="Careers">Careers</a></li>
                            <li><a href="/faq" title="FAQ">FAQ</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul>
                            <li>CONTACT</li>
                            <li><a href="mailto:hello@routefire.io" title="Email Us">dummy@dummy.com</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</footer>