<header class="site-headers">

    <div class="mainheader">
        <div class="logo">
         wordsense.AI
          

            
        </div>
        <nav>
            <a href="@">Home</a>
            <a href="@">Platform</a>
            <a href="@">About</a>
            <a href="@">API</a>
            <a href="@">Contact</a>
            <a class="nav-button button-login">LOGIN</a>
            <a class="nav-button button-signup">Signup</a>

        </nav>
    </div>
    <main class="main">
        <section class="left-sec">
            <div class="title">Understand the Platform</div>
            <p style="line-height: 1.9;">
                wordsense.AI is a B2B company building enterprise products in Voice and Natural Language Understanding
                Domain.
            </p>
            <div class="swiper-home__pagination swiper-pagination-clickable swiper-pagination-bullets">
                <span class="swiper-pagination-bullet" tabindex="0" role="button"
                    aria-label="Go to slide 1"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
                    aria-label="Go to slide 4"></span></div>
            <div style="display: flex;">
                <button class="explore-button">Getting Started</button>&nbsp;
                <!-- <button class="api-button">Try it Out</button> -->
            </div>
        </section>
        <section class="right-sec">

            <figure>
                <img style="width:661px" src="../../assets/images/sscreenshot1.png">
            </figure>

        </section>



    </main>

</header>

<section>
    <app-platform-steps></app-platform-steps>
</section>

<section>
    <app-platform-details></app-platform-details>
</section>