<section>
    <app-header [scrollPosition]="pageOffset" [index]="3"></app-header>
</section>

<section class="wrapper">
    <div class="row">
        <div class="col-md-6 left-sec">
            <div class="hero-text">
                Understand the platform

            </div>
            <br>
            <div style="width:50%">
                <div class="nav-button-outline" (click)="scrollToElement(steps)">Explore More</div>
            </div>
        </div>
        <div class="col-md-6">
            <br>
            <img class="placeholder-image" width="500px" src="../../assets/images/bg/Desktop - 1 (7).png">
        </div>
    </div>


</section>

<br>

<section #steps>
    <app-platform-steps [pageOffset]="pageOffset"></app-platform-steps>
</section>

<br>

<div class="row">
    <div class="col-md-7 go-to-platform" >
       <div class="get-started"> Ready to get started?</div>
        <div class="create-account">Go to Platform or Create an account</div>
    </div>
    <div class="col-md-5 button-wrapper">
        <div class="nav-button">Sign Up</div>

        <div class="nav-button-outline" (click)="scrollToElement(target)">Go to Platform</div>
    </div>

</div>
<section >
    <app-footer ></app-footer>
</section>