<div class="wrapper">
  <h2 style="text-align: center;padding:15px;">How it Works</h2>


  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-2"> <span class="step">1</span></div>


            <div class="col-md-10">
              <div class="about-how-it-works"> NLU Task</div>
              <p>
                Pick the NLU task
              </p>
            </div>


          </div>

        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-2"> <span class="step"></span></div>


            <div class="col-md-10">
              <div class="row">
                <div class="col-md-2"> <span class="step">2</span></div>


                <div class="col-md-10">
                  <div class="about-how-it-works"> Upload Dataset</div>
                  <p>
                    Upload dataset in specific task-oriented format
                  </p>
                </div>


              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" style="width:100%;">
          <div class="row">
            <div class="col-md-2"> <span class="step">3</span></div>


            <div class="col-md-10">
              <div class="about-how-it-works"> Train</div>
              <p>Click the train button</p>
            </div>


          </div>

        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2"> <span class="step">4</span></div>


            <div class="col-md-10">
              <div class="about-how-it-works"> Trigger Pipeline</div>
              <p>Our ML workflows trigger the most optimized ML pipeline for the dataset (in terms of scalability,
                portability, cost. Training ,Deployment and Serving is all abstracted under the hood ) for the
                finetuning task </p>
            </div>


          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2"> <span class="step">5</span></div>


            <div class="col-md-10">
              <div class="about-how-it-works"> REST Api</div>
              <p>Consume the REST Api</p>
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-2"> <span class="step">6</span></div>


            <div class="col-md-10">
              <div class="about-how-it-works"> Predict</div>
              <p>Generate predictions with an improved REST API.</p>
            </div>


          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6 right-panel">
      <div class="flow-panel">
        <div style="background-color: 90cac1;"> Pick the NLU task </div>
        <span style="padding:2px;">
          <span class="material-icons" style="font-size:25px;">
            people_outline
          </span>
          <span class="material-icons" style="font-size:25px;">
            center_focus_weak
          </span>
          <span class="material-icons" style="font-size:25px;">
            school
          </span>
          <span class="material-icons" style="font-size:25px;">
            extension
          </span>
        </span>
      </div>
      <div class="downward-line"></div>
      <div>
        <!-- <span class=" material-icons" style="font-size: 40px;margin-top:0;">
        arrow_downward
        </span> -->

        <div class="downward-arrow"></div>
      </div>
      <div class="flow-panel" style=" background-color: #9364dd;">
        Upload the Dataset
        <span style="padding:2px;">
          <span class="material-icons" style="font-size:25px;">
            storage
          </span>
          <span class="material-icons" style="font-size:25px;">
            bar_chart
          </span>
        </span>
      </div>
      <div class="downward-line" style=" background-color: #9364dd;"></div>
      <div>

        <div class="downward-arrow" style=" border-color: #9364dd transparent;"></div>
      </div>
      <div class="flow-panel" style=" background-color: #186ff2;">
        <div style="display: flex;justify-content: space-evenly;vertical-align: middle;">
          <div class="inside-box">
            <span class="material-icons" style="font-size:25px;">
              memory
            </span>
            Train
          </div>

          <div class="inside-box">
            <span class="material-icons" style="font-size:25px;">
              storage
            </span>
            Deploy
          </div>


          <div class="inside-box">
            <span class="material-icons" style="font-size:25px;">
              cloud_done
            </span>
            Serve
          </div>
        </div>
      </div>

      <div class="downward-line" style=" background-color: #186ff2;"></div>
      <div>

        <div class="downward-arrow" style=" border-color: #186ff2 transparent;"></div>
      </div>

      <div class="flow-panel" style=" background-color: #15d48e;">
        <span class="material-icons" style="font-size:25px;">
          code
        </span>
        Consume the REST API
      </div>
      <div>

        <!-- <span class="material-icons" style="font-size: 40px;margin-top:0;">
          arrow_downward
        </span> -->
      </div>
    </div>
  </div>
</div>

<section>
  <img src="../../../assets/images/bg/wave.png">
</section>