<h2 style="text-align: center;padding:15px;">How it Works</h2>

<div style="display: flex;justify-content: space-between;padding:22px;">

  <div>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
      industry's standard dummy text ever since the 1500s,
    </p>
    <ul class="timeline">
      <li class="timeline-item">
        <div class="timeline-badge"><span class="material-icons">
            done_outline
          </span></div>
        <div class="timeline-panel">
          <div class="timeline-heading">

            <p class="timeline-body">Step 1</p>
          </div>
          <div class="text-muted">
            <small>
              <p>Upload the data sets in the platform in the form of .CSV or BigQuery </p>
            </small>
          </div>
        </div>
      </li>
      <li class="timeline-item">
        <div class="timeline-badge"><span class="material-icons">
            done_outline
          </span></div>
        <div class="timeline-panel">
          <div class="timeline-heading">

            <p class="timeline-body">Step 2</p>
          </div>
          <div class="timeline-body">
            <small>
              <p>Build and Deploy the ML models on one click</p>
            </small>
          </div>
        </div>
      </li>
      <li class="timeline-item">
        <div class="timeline-badge"><span class="material-icons">
            done_outline
          </span></div>
        <div class="timeline-panel">
          <div class="timeline-heading">

            <p class="timeline-body">Step 2</p>
          </div>
          <div class="timeline-body">
            <small>
              <p>Consume the REST api and do the dashboard analysis</p>
            </small>

          </div>
        </div>
      </li>

    </ul>


  </div>

  <img style="width:60%;height: 86%;" src="../../../assets/images/howitworks.png" class="card-image" />


</div>