<div class="step-wrapper">
    <div class="row">
        <div class="col-md-6">
            <div class="flow-chart" *ngFor="let item of taskStep;let i=index">
                <div class="flow-chart-item">{{item}}</div>
                <span *ngIf="i!=taskStep.length-1" class="material-icons">
                    arrow_downward
                </span>
                <!-- <svg *ngIf="i!=taskStep.length-1" height="50" viewBox="0 0 4 50" fill="yellow"
                    xmlns="http://www.w3.org/2000/svg">
                    <line class="workflows-step-arrow" opacity="0.7" x1="0" y1="2" x2="2" y2="50" stroke="#3C485E"
                        stroke-opacity="0.3" stroke-linecap="round" stroke-dasharray="1, 30" stroke-width="4">
                    </line>
                </svg> -->


            </div>

        </div>
        <div class="col-md-6 ">
            <div [ngClass]="{'sticky-div':pageOffset>400&& pageOffset < 1500}">
                <div class="titleh2">Go to Steps</div>
                <div class="text-wrapper" >
                    <div class="text" *ngFor="let item of taskStep;let i=index" [ngClass]="{'bold-text':i==boldTextIndex[boldTextIndex.length-1].index}">
                        <div   >
                            <b> {{i+1}}</b> . 
                               
                                {{item}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>