<h2>Data Done Differently</h2>


<div style="display: flex;">
<div class="task-steps">
    <div *ngFor="let i of [1,2,3,4,5];let i=index" class="task-card-wrapper">
        <div class="task-card">

            <div class="task-card-type">#TASK {{i}}</div>
            <div>ffdf dfdhfdf dhfdfhdf </div>
           
        </div>
        <div class="workflows-section-step-arrow-container" *ngIf=
        "i!=5"><svg width="4" height="70" viewBox="0 0 5 70"
            fill="yellow" xmlns="http://www.w3.org/2000/svg">
            <line class="workflows-step-arrow" opacity="0.5" x1="0" y1="2" x2="2" y2="70" stroke="#3C485E"
                stroke-opacity="0.3" stroke-width="4"></line>
        </svg></div>



    </div>

   

</div>
<div>
    djsdjs
</div>
</div>