<!-- <header class="site-headers">

    <div class="mainheader">
        <div class="logo">
            wordsense.AI
        </div>
        <nav>
            <a href="@">Home</a>
            <a href="@">Platform</a>
            <a href="@">About</a>
            <a href="@">Domain</a>
            <a href="@">Contact</a>
            <a class="nav-button button-login">LOGIN</a>
            <a class="nav-button button-signup">Signup</a>

        </nav>
    </div>
    <main class="main">
        <section class="left-sec">
            <div class="intro-header">Operationalize AI for Enterprise</div>


            <ul style="line-height: 1.9;  color:white;">
                <li>
                        We are building a click only NLU platform as our 1st offering to help enterprises quickly build
                        and
                        deploy customer support solutions including email routing, auto reply, conversational dialog
                        systems,
                        query resolution bot etc.
                    </li> 
<li>


    We are also here to help other enterprises use our powerful apis to build applications that
    require deep
    expertise in Natural Language and Speech.
</li>
</ul>

<div class="swiper-home__pagination swiper-pagination-clickable swiper-pagination-bullets">
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
    <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span>
    <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button"
        aria-label="Go to slide 4"></span></div>

<br><br>

<div style="display: flex;">
    <button class="explore-button">Explore More</button>&nbsp;
    <button class="api-button">Try it Out</button>
</div>
</section>
<section class="right-sec">

    <figure>
        <img style="width:550px" src="../../assets/images/bg/rsz_desktop_-_1_1.png">
    </figure>

</section>



</main>
</header> -->
<div (scroll)="onScroll($event)" #home>

    <app-header [scrollPosition]="pageOffset" [scrollIndex]="" (headerEvent)="scrollToElement(about)" [index]="1">
    </app-header>

    <div class="wrapper">

        <div class="row">
            <div class="col-md-6 left-sec">
                <div class="hero-text">

                    Operationalize Enterprise
                    AI
                </div>
                <br>
                <p>
                    Wordsense is an NLP and speech engineering and research company focussed on building Automl
                    solutions
                    and custom apis for enterprises.

                </p>
                <br>
                <div class="button-wrapper">
                    <div class="nav-button" [routerLink]="'/domain'">Try it Out</div>

                    <div class="nav-button-outline" (click)="scrollToElement(product)">Explore More</div>
                </div>
            </div>
            <div class="col-md-6 image-container" style="background-color: #033d83;" >
                 <img  *ngIf="slideIndex ===1" style="width:500px" src="../../assets/images/bg/rsz_desktop_-_1_1.png"> 

                <div [@simpleFadeAnimation]="'in'" *ngIf="slideIndex ===2" style="position: relative; left: 0; top: 0;">
                    <img src="../../assets/images/bg/Desktop - 1 (7).png" class="mockup-screen-main"/>
                     <img width="350px" src="../../assets/images/upload_dataset.png" class="mockup-subscreen-1"/> 
                     <img width="350px" src="../../assets/images/model_mockup.png" class="mockup-subscreen-2"/> 
                  </div>
                <!-- <img style="width:900px" src="../../assets/images/bg/chat-ticket-2.png"> -->
            </div>
        </div>
        <div class="swiper-home__pagination swiper-pagination-clickable swiper-pagination-bullets">
            <span class="swiper-pagination-bullet" [ngClass]= "{'swiper-pagination-bullet-active':slideIndex ===1 }" tabindex="0" role="button" aria-label="Go to slide 1" (click)="goToSlide(1)"></span>
            <span class="swiper-pagination-bullet " [ngClass]= "{'swiper-pagination-bullet-active':slideIndex ===2 }"  tabindex="0" role="button"
                aria-label="Go to slide 2" (click)="goToSlide(1)"></span></div>

    </div>

    <section #product>
        <app-apis></app-apis>
    </section>
    <br>
    <br>
    <section #about>
        <app-about></app-about>
    </section>
    <!-- <section>
    <app-how-it-works></app-how-it-works>
</section> -->



    <section>
        <app-app-integrations></app-app-integrations>
    </section>

    <!-- <div class="request-demo-box">

    <div class="request-demo-text">Are you ready to automate your workflow ?</div>
    <br><br>
    Join the waitlist now!
    <br>

    <div class="form-group">
        <input class="form-field" type="email" placeholder="Email">
        <span>Request Demo</span>
    </div>

     <div>
        <button class="api-button">Request Demo</button>
    </div>



</div> -->
    <br>
    <br>





    <footer>
        <app-footer></app-footer>
    </footer>

</div>