@import "../../assets/css/mini.min.css";

.wrapper {
  width: 100%;
  height: 100vh;
  // background-image: url("../../assets/images/bg/background-home.png");
  // background: linear-gradient(185.09deg, #0c4185 24.03%, #052f67 96.77%);
  background-color: #033d83;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  top: 84px;
  position: relative;
}

.left-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.hero-text {
  font-family: "Poppins" sans-serif !important;
  font-weight: 500;
  font-size: 60px;
}

.button-wrapper {
  display: flex;
}
.nav-button {
  border-radius: 10rem;
  text-decoration: none;
  display: inline-block;
  background-color: #fba229;
  padding: 0.8rem 1.2rem 0.8rem;
  margin-right: 15px;
  color: white;
}

.nav-button-outline {
  border-radius: 10rem;
  text-decoration: none;
  display: inline-block;
  background-color: #033d83;
  padding: 0.8rem 1.2rem 0.8rem;
  margin-right: 15px;
  color: white;
  border: 1px solid white;
}

.signup-button {
  background-color: rgba(255, 255, 255, 0.2);
}

.button-login {
  background: 0 0;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-weight: 600;
  margin-right: 5%;
}

.button-signup {
  color: white;

  font-weight: 500;
  background: #fff;
  margin-right: 10%;
  background-color: rgba(255, 255, 255, 0.2);
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-sec {
  padding-left: 6%;
}

.main .right-sec {
  padding-right: 70px;
}

.left-sec h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #fff;
}

.left-sec h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
}

.explore-button {
  border-radius: 5px;
  width: 10em;
  text-transform: uppercase;
  background-color: #15d48e;
  border: 1px solid #15d48e;
  color: #fff;
  font-size: 0.9vw;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 3%;
  text-align: center;
  margin: 3%;
}

.api-button {
  border-radius: 5px;
  width: 10em;
  text-transform: uppercase;
  font-size: 0.9vw;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  color: white;

  margin: 3%;
}

footer {
  background-color: #f6f7f8;
}

.cta-box {
  padding: 60px 70px;
  border-radius: 20px;
  -webkit-box-shadow: 14px 20px 54px 0 rgba(133, 143, 175, 0.1);
  box-shadow: 14px 20px 54px 0 rgba(133, 143, 175, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-blue {
  border: 1px solid #1f90ff;
}

.cta-intro h3 {
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 10px;
}

// .cgZOIU .containerClass {
//   display: flex;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   align-items: center;
//   position: relative;
//   background-color: rgb(255, 255, 255);
//   color: white;
//   box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 60px 6px;
//   padding: 4rem;
//   border-radius: 20px;
// }

.intro-header {
  font-size: 30px;
  font-weight: 300;
}

.carousel--fullwidth .carousel__nav {
  bottom: 32px;
  left: 50%;
  position: absolute;
  transform: translateX(-20%);
}
.carousel__nav {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.carousel__nav-item--active,
.carousel__nav-item:hover {
  opacity: 1;
}
.carousel__nav-item {
  background-color: #5340ff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1px;
  margin: 0 4px;
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
  width: 1px;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-home__pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.swiper-home__pagination .swiper-pagination-bullet:first-child {
  margin-left: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-home__pagination .swiper-pagination-bullet {
  position: relative;
  padding: 0;
  width: 32px;
  height: 2px;
  background-color: white;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border: 0;
  border-radius: 0;
  opacity: 0.3;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

.swiper-home__pagination .swiper-pagination-bullet:before {
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: absolute;
  top: -14px;
  left: 0;
}

.swiper-home__pagination .swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

.request-demo-box {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  height: 40%;
  font-size: 20px;
  align-items: center;
  color: white;
  background-image: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
}

.request-demo-text {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.form-field {
  display: block;
  width: 50%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  -webkit-appearance: none;
  color: #565656;
  border: 1px solid var(--input-border);
  background: white;
  transition: border 0.3s ease;
  &::placeholder {
    color: var(--input-placeholder);
  }
  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.form-group {
  position: relative;
  display: flex;
  margin-top: 15px;
  width: 60%;
  & > span,
  .form-field {
    white-space: nowrap;
    display: block;
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
    &:first-child {
      border-radius: 6px 0 0 6px;
    }
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
  .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }
  & > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: white;
    background: #15d48e;
    border: 1px solid var(--group-border);
  }
}
