<header class="site-headers">

    <div class="mainheader">
        <div class="logo">
            <h2>wordsense.AI</h2>
        </div>
        <nav>
            <a href="@">Home</a>
            <a href="@">Platform</a>
            <a href="@">About</a>
            <a href="@">API</a>
            <a href="@">Contact</a>
            <a class="nav-button button-login">LOGIN</a>
            <a class="nav-button button-signup">Signup</a>

        </nav>
    </div>
    <main class="main">
        <section class="left-sec">
            <h1>wordsense.AI</h1>
            <p style="line-height: 1.9;">
                Blitz is a B2B company building enterprise products in Voice and Natural Language Understanding Domain.

                We are building a click only NLU platform as our 1st offering to help enterprises quickly build and
                deploy customer support solutions including email routing, auto reply, conversational dialog systems,
                query resolution bot etc.

                We are also here to help other enterprises use our powerful apis to build applications that require deep
                expertise in Natural Language and Speech
            </p>
            <div style="display: flex;">
                <button class="explore-button">Explore More</button>&nbsp;
                <button class="api-button">Try it Out</button>
            </div>
        </section>
        <section class="right-sec">

            <figure>
                <img style="width:661px" src="../../assets/images/chatabot.png">
            </figure>

        </section>



    </main>
</header>
<section>
    <app-about></app-about>
</section>
<section>
    <app-how-it-works></app-how-it-works>
</section>

<section>
    <app-apis></app-apis>
</section>

<section>
    <app-app-integrations></app-app-integrations>
</section>

<footer>
    <app-footer></app-footer>
</footer>