<header class="site-headers">

    <div class="mainheader">
        <div class="logo">
            <h2>blitz AI</h2>
        </div>
        <nav>
            <a href="@">Home</a>
            <a href="@">About</a>
            <a href="@">API</a>
            <a href="@">Contact</a>
            <a class="nav-button button-login">LOGIN</a>
            <a class="nav-button button-signup">Signup</a>

        </nav>
    </div>
    <main class="main">
        <section class="left-sec">
            <h1>blitz AI</h1>
            <h2>
                Powering Analytics Software
                Powering Analytics Software
                More than 40,000 users rely on Statsbot products to gain insights from data.

            </h2>
            <div style="display: flex;">
                <button class="explore-button">Explore More</button>&nbsp;
                <button class="api-button">Try it Out</button>
            </div>
        </section>
        <section class="right-sec">

            <figure>
                <img style="width:661px" src="../../assets/images/chatabot.png">
            </figure>

        </section>



    </main>
</header>
<section>
    <app-about></app-about>
</section>
<section>
    <app-how-it-works></app-how-it-works>
</section>